.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul.header {
  background-color: #212121;
  margin: -10px;
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 130%;
  width: 100%;
}

header a {
  color: #FF7474;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

header a:hover {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

header a:active {
  color: #686868;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

header a:focus {
  color: #ff1d1d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

header img {
  margin: -10px;
}


.add-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin-bottom: 30px;
}

.add-item label {
  grid-column-start: 1;
  grid-column-end: 4;
}

input[type="text"] {
  grid-column-start: 1;
  grid-column-end: 3;

  border: none;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="submit"] {
  background-color: #111111;
  border: none;
  color: #FF7474;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;

  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

body {
  color: #FF7474;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fdf0d5;

  background-image: url(bgFullRed.png);
  background-size: cover;
  min-height: 100vh;
  
  justify-content: center;
  align-items: center;
}

main {
  display:flex;
}

.ToDo-Ongoing {
  max-width: auto;
  min-width: auto;
  padding: 50px;
  border-radius: 35px;
  background-color: #362929;
  opacity: 75;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.ToDo-Ongoing h1 {
  font-size: 2rem;
}

main ul.Ongoing-items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

main ul.Ongoing-items li {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border-radius: 20px;
  color: #212121;
  background-color: #FF7474;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

  transition: all;
}


.ToDo-Session {
  max-width: auto;
  min-width: auto;
  padding: 50px;
  border-radius: 35px;
  background-color: #362929;
  opacity: 75;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.ToDo-Session h1 {
  font-size: 2rem;
}

main ul.Session-items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

main ul.Session-items li {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border-radius: 20px;
  color: #212121;
  background-color: #FF7474;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

  transition: all;
}

.ToDo-Future {
  max-width: auto;
  min-width: auto;
  padding: 50px;
  border-radius: 35px;
  background-color: #362929;
  opacity: 75;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.ToDo-Future h1 {
  font-size: 2rem;
}

main ul.Future-items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

main ul.Future-items li {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border-radius: 20px;
  color: #212121;
  background-color: #FF7474;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

  transition: all;
}

@keyframes add-new-item-annimation {
  from {
    transform: translateY(+20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.new-item-annimate {
  transform-origin: 10% 0;
  animation: add-new-item-annimation 0.3s linear;
}

/*
  SCREEN READER UTILITY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
